user_uuid = "92e7bb7c-340e-4481-b069-79b4f94e9dce"
bucket_name="terra-house-bucket"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2